<form action="/users" method='post'>
    Email <input type="text" name='user[name]' id="Name">
    Name <input type="text" name='user[email]' id="Email">
    Password <input type="text" name='user[password]' id="Password">
    Password Confirmation <input type="text" name='user[password_confirmation]' id="Password_Confirmation">
    <input type="submit" name="Join" value="Join">

</form>